{% extends 'base.html.twig' %}

{% block title %}Edit Establecimiento{% endblock %}

{% block body %}
    <h1>Edit Establecimiento</h1>

    {{ include('establecimiento/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('establecimiento_index') }}">back to list</a>

    {{ include('establecimiento/_delete_form.html.twig') }}
{% endblock %}
