{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}
    <h3>Clientes</h3>
    <clientes listado="{{ clientes|json_encode }}" campos="{{ campos|json_encode }}">

    </clientes>
{% endblock %}
{% block javascript %}

{{ encore_entry_script_tags('app') }}
{% endblock %}

