{% extends 'base.html.twig' %}

{% block title %}New SAN{% endblock %}

{% block body %}
    <h1>Create new SAN</h1>

    {{ include('san/_form.html.twig') }}

    <a href="{{ path('s_a_n_index') }}">back to list</a>
{% endblock %}
