{% extends 'base.html.twig' %}

{% block title %}CxC{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3 class="m-2">Cuentas por cobrar</h3>
        </div>

    </div>


    <cuentas listado="{{ cuentas|json_encode }}"></cuentas>

{% endblock %}
{% block javascript %}

{{ encore_entry_script_tags('app') }}
{% endblock %}
