{% extends 'base.html.twig' %}

{% block title %}Edit FormaPago{% endblock %}

{% block body %}
    <h1>Edit FormaPago</h1>

    {{ include('forma_pago/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('forma_pago_index') }}">back to list</a>

    {{ include('forma_pago/_delete_form.html.twig') }}
{% endblock %}
