{% extends 'base.html.twig' %}

{% block title %}New TipoOrden{% endblock %}

{% block body %}
    <h1>Create new TipoOrden</h1>

    {{ include('tipo_orden/_form.html.twig') }}

    <a href="{{ path('tipo_orden_index') }}">back to list</a>
{% endblock %}
