<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-group-sm" data-toggle="modal" data-target="#staticBackdrop">
    <i class="icon-search"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Buscar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalCerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">

                    <label class="col-form-label col-3">Buscar:</label>
                    <div class="col-6">
                        <input type="text" class="form-control" id="parametroContrato">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-group-sm btn-primary" id="btnBuscarContrato"><i class="fa fa-search"></i>Buscar</button>
                    </div>
                </div>
                <table class="table table-hover table-bordered table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>  
                            <th>Número</th>
                            <th>Cliente</th>
                            <th>CI/RUC</th>
                            <th>Parroquia
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tContratos">


                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalAceptar">Aceptar</button>
            </div>
        </div>
    </div>
</div>
