<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#staticBackdrop">
    <i class="fa fa-search"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Buscar SAN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalCerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">

                    <label class="col-form-label col-4">Buscar:</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="parametroSan">
                    </div>
                </div>
                <table class="table table-hover table-bordered table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>  
                            <th>Número</th>
                            <th>Nro Solicitud</th>
                            <th>Cliente</th>
                        </tr>
                    </thead>
                    <tbody id="tSans">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalAceptar">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#parametroSan").keyup(function (){
        var param = $(this).val();
        var L = param.length;
        if ( L >= 3){
            $.ajax({
                url:'{{ path('buscar_san') }}',
                type:'POST',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: { param: param },
                success: function (html){
                    $("#tSans").html(html);
                }

            })
        }
    });
    $("#modalAceptar").click(function (){
        //alert("hola")
        var radioValue = $("input[name='san_id']:checked").val();
        if (typeof radioValue !== 'undefined'){
            var san = $("input[name='san_id']:checked").data('san');
            console.log(san)            
            $("#nsan").val(san);
        }else{
            alert('No se ha seleccionado ninguna parroquia')
        }
    });
</script>