{% extends 'base.html.twig' %}

{% block title %}New NoSeriado{% endblock %}

{% block body %}
    <h1>Create new NoSeriado</h1>

    {{ include('no_seriado/_form.html.twig') }}

    <a href="{{ path('no_seriado_index') }}">back to list</a>
{% endblock %}
