{% extends 'base.html.twig' %}

{% block title %}Colaborador index{% endblock %}

{% block body %}
    <h1>Colaborador index</h1>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Direccion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for colaborador in colaboradors %}
            <tr>
                <td>{{ colaborador.id }}</td>
                <td>{{ colaborador.nombres }}</td>
                <td>{{ colaborador.direccion }}</td>
                <td>
                    <a href="{{ path('colaborador_set_punto', {'id': colaborador.id}) }}">punto emisión</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
