{% extends 'base.html.twig' %}

{% block title %}Edit Factura{% endblock %}

{% block body %}
    <h3>Revisar:</h3>

    {{ include('factura/_form.html.twig', {'button_label': 'Update', 'edit': true}) }}


{% endblock %}
{% block javascript %}

{{ encore_entry_script_tags('app') }}
{% endblock %}