{% extends 'base.html.twig' %}

{% block title %}Edit Empresa{% endblock %}

{% block body %}
    <h1>Editar Empresa</h1>

    {{ include('empresa/_form.html.twig', {'button_label': 'Actualizar'}) }}



{% endblock %}
