<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div class="contenedor">
        <div class="w100">
            <div class="w50">
                <div class="img">

                </div>
                <div class="round-bordered">

                </div>
            </div>
            <div class="w50 round-bordered">

            </div>
        </div>
        <div class="w100">
            <div class="lin-bordered">

            </div>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Descripcion</th>
                        <th>Med</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Descuento</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>