{% extends 'base.html.twig' %}

{% block title %}Mensajes de whatsapp{% endblock %}

{% block body %}
    <h1>TipoOrden index</h1>

    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Pic</th>
            <th>Contacto</th>
            <th>Mensaje</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for msj in mensajes %}
            <tr>
                <td>{{ msj.id }}</td>
                <td>
                    <img src="{{ msj.contact.pic }}" alt="" style="max-width: 50px">
                </td>
                <td>{{ msj.contact }}</td>
                <td>{{ msj.body }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
