{% extends 'base.html.twig' %}

{% block title %}New ServicioClaro{% endblock %}

{% block body %}
    <h1>Create new ServicioClaro</h1>

    {{ include('servicio_claro/_form.html.twig') }}

    <a href="{{ path('servicio_claro_index') }}">back to list</a>
{% endblock %}
