{% extends 'base.html.twig' %}

{% block title %}New Secuencial{% endblock %}

{% block body %}
    <h1>Create new Secuencial</h1>

    {{ include('secuencial/_form.html.twig') }}

    <a href="{{ path('app_secuencial_index') }}">back to list</a>
{% endblock %}
